.addtodo{
    display:flex;
    

}


.form-container{
    display: flex;
       
    height: 40vh;



}


 
.form{

    background-color: lavender;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* height:100vh; */
    justify-content: space-evenly;

    margin: 0.5rem;
    padding: 3px;
}